body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #0070FF;
  color: #ffffff;
  align-items: center;
}

.numbers{
  display: flex;
  position: relative;
  gap: 10px;
}
.enunciate{
  display: flex;
  border: 1px solid black;
  margin: 10px;
}


